.educationView {
    position: relative;
}

.educationView::after {
    background-color: var(--grey);
    background-image: url("../../resources/graduate3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.educationTitle {
    margin-bottom: 0;
    color: var(--navy);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px var(--grey);
}

.educationSubtitle {
    color: var(--navy);
    margin: 0;
}

.textContainer {
    align-items: center;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    margin: 5vh 8vw;
    text-align: center;
}

.greaterWidth {
    height: 44vh;
    width: 44vh;
    padding: 3vh 3vh;
}

.greaterWidth .educationTitle {
    font-size: calc(50vh/8);
}

.greaterWidth .educationSubtitle {
    font-size: calc(50vh/15);
}

.greaterWidth .educationText {
    font-size: calc(50vh/28);
}

.greaterHeight {
    height: 44vw;
    width: 44vw;
    padding: 3vw 3vw;
}

.greaterHeight .educationTitle {
    font-size: calc(50vw/8);
}

.greaterHeight .educationSubtitle {
    font-size: calc(50vw/16);
}

.greaterHeight .educationText {
    font-size: calc(50vw/21);
}