.experienceView {
    background-color: var(--navy);
    color: var(--smokewhite);
    overflow: hidden;
}

.pageTitle {
    color: var(--smokewhite);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px var(--grey);
    margin-bottom: 0;
    z-index: 1;
}