.portfolioView {
    color: var(--navy);
    position: relative;
}

.pageTitle {
    color: var(--navy);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px var(--grey);
    z-index: 1;
    margin-bottom: 20px;
}

.gridContainer {
    margin-bottom: 10vh !important;
}

.itemCard {
    margin: 3vh 3vw;
    align-items: center;
    height: 100%;
}

.itemImage {
    max-height: 100%;
    max-width: 100%;
    background-color: var(--grey);
}

.itemHeader {
    margin: 0 1vw;
}

.itemSubheader {
    margin: 0 1vw;
    font-size: 12px;
    font-weight: bold;
    color: var(--darkred);
}

.itemText {
    margin: 0 1vw;
    font-size: 15px;
}

.linkBtnContainer {
    text-align: center;
}

.linkBtn {
    margin: 2vh 2vw !important;
}

.comingSoon {
    bottom: 5vh;
    color: var(--grey);
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100vw;
}