p {
    margin: 5px 0;
    font-size: 65%;
}

.companyTitle {
    margin: 0;
}

.jobTitle {
    color: var(--navy);
    margin: 0;
}

.mobileExperienceTimeline {
    text-align: left;
    padding: 0 5vw 5vh 5vw;
}

.timelineDate {
    color: var(--smokewhite);
}

.paper {
    padding: 6px 16px;
    background-color: var(--grey) !important;
    color: var(--smokewhite) !important;
}