.skillIconContainer {
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */
}

.skillIcon {
    max-width: 10vw;
    max-height: 10vh;
    opacity: 0.8;
    display: block;
}

.skillIcon:hover {
    cursor: pointer;
    opacity: 1;
    transform: rotate(10deg) scale(1.1);
}

