p {
    margin: 5px 0;
    font-size: 65%;
}

.companyTitle {
    margin: 0;
}

.jobTitle {
    color: var(--navy);
    margin: 0;
}

.paper {
    padding: 6px 16px;
    background-color: var(--grey) !important;
    color: var(--smokewhite) !important;
}

.paperLeftAlign {
    text-align: left;
}

.timelineDate {
    padding-top: 10px;
}

.timelineDot {
    background-color: var(--smokewhite);
    -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5) !important;
}