.headshot {
    max-width: 20vw;
    border-radius: 50%;
    float: right;
}

.gridContainer {
    padding: 20vh 15vw;
    height: 100vh;
}

.fullName {
    color: var(--grey);
    margin: 0;
    text-align: left;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px var(--smokewhite);
}

.bio {
    font-size: smaller;
    margin: 0;
    text-align: left;
}

.iconBtn {
    font-size: 50px;
}

.iconBtn:hover {
    color: var(--darkred);
}

.gitlabIcon {
    font-size: 1.85rem;
}