:root {
    --navy: #2b2d42;
    --grey: #8d99ae;
    --smokewhite: #edf2f4;
    --red: #ef233c;
    --darkred: #d90429;
}

.app {
    text-align: center;
}

.appLogo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: appLogoSpin infinite 20s linear;
    }
}

.appHeader {
    color: var(--navy);
    background: rgb(186,191,193);
    background: linear-gradient(135deg, rgba(186,191,193,1) 0%, rgba(237,242,244,1) 100%);
}

.appLink {
    color: var(--grey);
}

@keyframes appLogoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.appFooter {
    background-color: var(--navy);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: var(--smokewhite);
}

.expand {
    position: absolute;
    width: 100vw;
    align-items: center;
    bottom: 5vh;
    color: var(--grey);
}

.expandBtn:hover {
    color: var(--darkred);
}

.threeQuarterPageView {
    min-height: 76vh;
    max-height: 76vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

.fullPageView {
    min-height: 100vh;
    /*max-height: 100vh;*/
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}