h5 {
    margin-block-end: 1em;
    color: var(--grey);
}

.gridContainer {
    min-height: 90vh;
}

.gridContainerRightAlign  {
    min-height: 90vh;
    text-align: right;
}

.skillsView {
    background-color: white;
    color: var(--navy);
    text-align: left;
}

.skillsTitle {
    color: var(--navy);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px var(--grey);
}

.skillsContainer {
    padding: 0 5vw 5vh 5vw;
}