.container {
    position: fixed;
    top: 0;
    left: 0;
    /*centers in the container*/
    text-align: center;
}
div.circTxt {
    /*allows for centering*/
    display: inline-block;
    /*adjust as needed*/
    margin-bottom: 128px;
    color: whitesmoke;

    font-family: "Academy Engraved LET";
    font-weight: bold;
}